@use '../../styles/variables' as *;

.especialidadesPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
    min-height: fit-content;
    background-color: $color-background;

    .description {
        font-size: $font-size-small;
        color: $color-text-primary;
        margin-bottom: 1rem;
        text-align: center;
        max-width: 800px;
        line-height: $line-height-normal;
    }
}