@use '../../styles/variables' as *;

/* body.dark .menuHamburguesa {
    @include theme(dark);
    background-color: $background-color-dark;

    .menuHamburguesaList {
        .menuHamburguesaLink {
            color: $primary-color-dark;
        }
    }
} */

.menuHamburguesa {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $color-background;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;

    &.open {
        display: flex;
    }

    .menuHamburguesaList {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;

        .menuHamburguesaItem {
            margin: 1rem 0;

            .menuHamburguesaLink {
                text-decoration: none;
                font-size: $font-size-large;
                color: $color-primary;
                transition: color 0.3s ease-in-out;

                &:hover {
                    color: $color-secondary;
                }
            }
        }
    }
}