@use '../../styles/variables' as *;

.galeriaPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-background;
    min-height: 80vh;

    .galeriaPageImages {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        max-width: 1200px;
    }
}
