@use '../../styles/variables' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: $color-white;
    color: $color-text-primary;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 5rem;
    opacity: 0.9;

    .headerContainerLogo {
        display: flex;
        align-items: center;
        gap: 1rem;

        .containerLogo {
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .headerTitle {
            font-size: $font-size-medium;
            font-weight: $font-weight-bold;
            color: $color-primary;
        }
    }
}