@use '../../styles/variables' as *;

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    .galleryImage {
        transition: transform 0.3s ease;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }

        img {
            border-radius: 1rem;
            width: 100%;
            height: auto;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }
}