@use '../../styles/variables' as *;

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: fit-content;
    padding: 2rem;
    gap: 1rem;

    .bannerTitle {
        font-size: $font-size-xlarge;
        font-weight: $font-weight-normal;
        line-height: $line-height-xlarge;
        color: $color-text-primary;
    }

    .bannerSubtitle {
        font-size: $font-size-medium;
        font-weight: $font-weight-medium;
        line-height: $line-height-medium;
        color: $color-text-primary;
    }

    .bannerDescription {
        font-size: $font-size-base;
        font-weight: $font-weight-medium;
        line-height: $line-height-normal;
        color: $color-text-primary;
        text-shadow: 0 1px 2px rgba(255,255,255,0.15);
        max-width: 800px;
    }

    picture {
        width: 100%;
        height: 100%;
        max-width: 200px;
        max-height: 200px;
        object-fit: cover;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
        }
    }
}